:root {
  --primary: #128C76;
  --secondary: #F56B8D;
  --grey1: #333333;
  --grey2: #999999;
  --grey3: #edede9;
  --white: #fff;
  --josefin: 'Josefin Sans', sans-serif;
}

body {
  padding-bottom: 200px;
}

button {
  cursor: pointer;
}

#navbar {
  background-color: #fff;
  height: 5.625rem;
  top: 0;
  left: 0;
  z-index: 2;
  position: fixed;
  width: 100%;
  box-shadow: var(--grey2) 2px 2px 20px
}

#infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  max-width: 73rem;
  height: 100%;
  margin: auto;
}

#logo {
  text-decoration: none;
  color: var(--primary);
}

.info {
  color: var(--grey1);
  font-size: 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.caret {
  font-size: 1px;
}

.navbar--button {
  padding: 1rem;
  width: 6.5rem;
  max-width: 7rem;
  font-weight: 800;
}

.navbar--button:not(:last-child) {
  margin-right: .7rem;
}

.login_button {
  background-color: var(--primary);
  color: white;
  border: 1px solid var(--primary);
  font-family: 'Josefin Sans', sans-serif;
}


.register_button {
  background-color: var(--white);
  color: var(--secondary);
  border: 1px solid var(--secondary);
  font-family: 'Josefin Sans', sans-serif;
}

.register_button:hover {
  background-color: rgba(245, 107, 141, .15);
  color: var(--secondary);
  border: 1px solid var(--secondary);
  font-family: 'Josefin Sans', sans-serif;
  transition: .5s;
}

.hero {
  color: var(--white);
  background-image: url('../assets/hero.png');
  height: 48.5rem;
  z-index: 1;
}

.hero__div {
  max-width: 73rem;
  margin: auto;
  font-size: 1.85rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 13.3rem;
}

.hero__div__title--first_row::after {
  content: '\a';
  white-space: pre;
}

#hero__div--title {
  z-index: 1;
}

.hero__div--paragraph {
  font-size: 1.5rem;
  max-width: 30rem;
  font-weight: 200;
  margin-top: 5rem;
  margin-bottom: 2.8rem;
  z-index: 1;
}

.hero__div--button {
  max-width: 17rem;
  height: 4rem;
  color: var(--white);
  background-color: var(--primary);
  border: solid 1px var(--primary);
  font-family: var(--josefin);
  font-size: 1rem;
  font-weight: bold;
  z-index: 1;
}

#blue_circle {
  width: 545px;
  height: 545px;
  background-color: rgba(51, 110, 225, .5);
  position: absolute;
  border-radius: 50%;
  top: 10rem;
  left: 14.8rem;
}

#products {
  margin-top: 8rem;
  text-align: center;
}

.products--title {
  color: var(--grey1);
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.products--subtitle {
  color: var(--grey2);
  max-width: 37rem;
  margin: auto;
  font-size: 1.2rem;
}

.products__cards {
  display: grid;
  grid-template-areas:
    "a a a";
  max-width: 73rem;
  margin: auto;
  text-align: start;
  margin-top: 5rem;
  gap: 25px;
}

.card {
  max-width: 369px;
  height: 480px;
  box-shadow: var(--grey2) 2px 2px 20px;
  border-radius: .2rem;
  background-color: var(--grey3);
}

.card>.header>img {
  border-radius: .2rem .2rem 0 0;
}

.card>.body {
  padding: 1rem;
}

.card>.body>.title {
  color: var(--grey1);
}

.card>.body>.localization {
  color: var(--grey2);
  margin-top: .5rem;
}
